:host {
  display: flex;
  height: calc(100vh - 50px);
  background-color: #1A1D21;
  flex-direction: column;
}

h1 {
  margin-left: 2.5%;
  margin-top: 8px;
  color: white;
}

.chat-field-container {
overflow-y: scroll;
}

.chat-container{
display: flex;
flex-direction: column;
flex: 0 1 auto;
overflow: hidden;
position: relative;
}

.thread-top-name {
display: flex;
align-items: center;
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
flex: 0 0 61px;
}

