mat-card {
    border: 1.5px solid white;
    border-radius: 10px;
}

textarea {
    height: 50px;
    max-width: 100%;
    min-width: 100%;
    background-color: rgba(128, 128, 128, 0.128);
    border: 0px solid transparent;
    color: white;
    outline: none;
}

.optionen {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    button {
        background-color: transparent;
        padding: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
            transition: all 225ms ease-in-out;
            background-color: rgba(128, 128, 128, 0.128);
        }
    }
}

.left {
    display: flex;
    button {
        margin-right: 8px;
    }
}

.right {
    display: flex;
}