<mat-card>
    <div>
        <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Nachricht an</mat-label>
            <textarea (keydown.enter)="sendMessage()" [(ngModel)]="newMessage" matInput style="max-height: 100px;" cdkTextareaAutosize></textarea>
        </mat-form-field>
    </div>

    <div class="optionen">

        <div class="left">
            <button><mat-icon> insert_photo</mat-icon></button>
            <button><mat-icon> line_weight</mat-icon></button>
            <button><mat-icon> format_italic</mat-icon></button>
            <button><mat-icon> insert_emoticon</mat-icon></button>
        </div>

        <div class="right">
            <button type="submit" *ngIf="this.newMessage" (click)="sendMessage()"><mat-icon>send</mat-icon></button>
        </div>
    </div>
</mat-card>