<mat-card>
    <div class="container-field">

        <div>

            <img src="../assets/img/{{chat.profilImg}}">

        </div>

        <div class="field-info">
            <div class="field-detail-user">
                <h3> {{chat.firstName}} {{chat.lastName}}</h3>
                <p>14:23 Uhr</p>
            </div>
            <p [class.fett]="weight" [class.kursive]="italic"> {{chat.message}} </p>
            <!--
            <img src="../assets/img/{{messageImg}}">
            -->
        </div>

    </div>
</mat-card>