<mat-card ngFor="let chats of chat" >
    <div  class="container-field">

        <div>

            <img src="../assets/img/{{chats.profilImg}}">

        </div>

        <div class="field-info">
            <div class="field-detail-user">
                <h3> {{chats.firstName}} {{chats.lastName}}
                </h3>
                <p>14:23 Uhr</p>
                <mat-icon (click)="openThread()">chat</mat-icon>
            </div>
            <p [class.fett]="weight" [class.kursive]="italic"> {{chats.message}} </p>
            <!--
            <img src="../assets/img/{{messageImg}}">
            -->
        </div>

    </div>
</mat-card>