<!-- {{chats$ | async | json}} -->

<mat-card *ngFor="let chat of chats$ | async">
  <div class="container-field">

    <div>

      <img src="{{chat.profilImg}}">

    </div>

    <div class="field-info">
      <div class="field-detail-user">
        <h3> {{chat.displayName}}
        </h3>
        <p>{{chat.chatDate | date : 'dd.MM.yyyy HH:mm' : 'de'}}</p>
        <mat-icon (click)="openThread(chat.id)">chat</mat-icon>
        <p>Anzahl Chats 1</p>
      </div>
      <p [class.fett]="chat.weight" [class.kursive]="chat.italic"> {{chat.message}} </p>
      <div *ngIf="chat.messageImg !== ''">
        <img class="messageImg" src="{{chat.messageImg}}" (click)="openDialog(chat.messageImg)">
      </div>

    </div>

  </div>

</mat-card>
