:host {
    display: block;
    height: calc(100vh - 64px);
    background-color: #1A1D21;
    width: 50%;
    position: relative;
}

h1 {
    margin-left: 2.5%;
    margin-top: 8px;
    color: white;
}

.chat-field-container {
    margin-top: 8px;
    width: 95%;
    margin-left: 2.5%;
}

.btm-chat-input {
    width: 95%;
    margin-left: 2.5%;
    position: absolute;
    bottom: 10px;
}