:host {
    display: block;
    height: calc(100vh - 50px);
    background-color: #1A1D21;
    width: 50%;
    position: relative;
}

.chat-top-name {
    display: flex;
    align-items: center;
    height: 61px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

h1 {
    margin-left: 2.5%;
    margin-top: 8px;
    color: white;
}

.chat-field-container {
    margin-top: 8px;
    width: 95%;
    margin-left: 2.5%;
}

.btm-chat-input {
    width: 95%;
    margin-left: 2.5%;
    position: absolute;
    bottom: 25px;
}
.chat-container{
  overflow-y: auto;
  height: 76%;
}
