<mat-card>
    <div>
        <mat-form-field style="width: 100%;" appearance="fill">
            <mat-label>Nachricht an</mat-label>
            <textarea [class.fett]="weight" [class.kursive]="italic" (keydown.enter)="sendMessage()" [(ngModel)]="newMessage" [(ngModel)]="textArea" matInput style="max-height: 100px;" cdkTextareaAutosize></textarea>
        </mat-form-field>
    </div>

    <div class="optionen">

        <div class="left">
            <label for="upload-photo"><mat-icon> insert_photo</mat-icon></label>
            <input type="file" name="upload-photo" id="upload-photo" (change)="imageUpload()">
            <button (click)="editWeight()"><mat-icon> line_weight</mat-icon></button>
            <button (click)="editItalic()"><mat-icon> format_italic</mat-icon></button>
            <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"  ><mat-icon> insert_emoticon</mat-icon></button>
        </div>
        <div class="emoji-container">
          <emoji-mart class="emoji-mart" *ngIf="isEmojiPickerVisible" (emojiSelect)="addEmoji($event)"
              title="Choose your emoji"></emoji-mart>

      </div>

        <div class="right">
            <button type="submit" *ngIf="this.newMessage" (click)="sendMessage() "><mat-icon>send</mat-icon></button>
        </div>
    </div>
</mat-card>
