    mat-card {
        border-radius: 10px;
    }
    
    .optionen {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        button {
            background-color: transparent;
            padding: 4px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover {
                transition: all 225ms ease-in-out;
                background-color: rgba(128, 128, 128, 0.128);
            }
        }
    }
    
    .left {
        display: flex;
        button {
            margin-right: 8px;
        }
    }
    
    .right {
        display: flex;
    }
    
    .fett {
        font-weight: 900;
    }
    
    .kursive {
        font-style: italic;
    }
    
    label {
        cursor: pointer;
        background-color: transparent;
        padding: 4px;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
            transition: all 225ms ease-in-out;
            background-color: rgba(128, 128, 128, 0.128);
        }
    }
    
    #upload-photo {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }