.adjust-status-container {
    height: 40vh;
    width: 60vh;
    position: relative;
}

.header {
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoti-btn {
    height: 52px;
    width: 50px;
    border: none;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1.34375px solid #ffffff7d;
    background: #4D4D4D;
}

.emoji-container {
    display: grid;
    grid-template-columns: 100% 0%;
    width: 36%;
}


.input-div {
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: flex-start;
}

.workSpaceDiv {
    width: 100%;
}

.quickInputDiv {
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quickInputObject {
    margin-left: 10px;
    margin-right: 10px;
}

.quickInputDiv:hover {
    cursor: pointer;
    background-color: rgb(128, 128, 128);
    transition: 225ms;
    box-shadow: 1px 1px 4px 0.1px white;
}

.footer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.btn {
    margin: 3px;
}

.close:hover {
    cursor: pointer;
}

.setTimeDiv{
    width: 100%;

}