.adjust-status-container {
    height: 60vh;
    width: 60vh;
}

.header{
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoti-btn{
    height: 52px;
    width: 50px;
    border: none;
    color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1.34375px solid #ffffff7d;
    background: #4D4D4D;
}

.emoji-container{
    display: grid;
    grid-template-columns: 100% 0%;
    width: 36%;
}


.input-div{
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: 70px;
    justify-content: flex-start;
    align-items: flex-start;
}