.link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.form-info {
  font-size: 0.75rem;
  margin-top: 1rem;
}

.form-buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

button {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.13);
}

.mat-card {
  width: 350px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.error-msg {
  //text-align: center;
  font-weight: 600;
  text-align: center;
}

.btn-icon {
  width: 16px;
  margin-right: 16px;
}

h3 {
  margin-bottom: 0;
  font-weight: 500;
}

p {
  font-size: 13px;
}