<mat-toolbar>
    <button class="nav-btn">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="center search">
        <div class="center">
            <mat-icon class="nav-icon">arrow_back</mat-icon>
            <mat-icon class="nav-icon">arrow_forward</mat-icon>
            <mat-icon class="nav-icon">schedule</mat-icon>
        </div>
        <div class="center search-container">
            <input placeholder="Community durchsuchen">
            <mat-icon>search</mat-icon>
        </div>
    </div>

    <div class="center">
        <mat-icon class="nav-icon">help_outline</mat-icon>
        <mat-icon class="nav-icon">person</mat-icon>
        <button class="nav-btn">
            <mat-icon>minimize</mat-icon>
        </button>
        <button class="nav-btn">
            <mat-icon>crop_square</mat-icon>
        </button>
        <button class="nav-btn close">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-toolbar>