<!-- {{chats$ | async | json}} -->
<ng-container *ngIf="chats$ | async as chat">
  <mat-card class="bg-grey">

    <div class="container-field">
      <div>

        <img src="{{chat.profilImg}}">

      </div>
      <div class="field-info">
        <div class="field-detail-user">
          <h3> {{chat.displayName}}
          </h3>
          <p>{{chat.chatDate | date : 'dd.MM.yyyy HH:mm' : 'de'}}</p>
        </div>
        <p [class.fett]="chat.weight" [class.kursive]="chat.italic"> {{chat.message}} </p>
        <div *ngIf="chat.messageImg !== ''">
          <img class="messageImg" src="{{chat.messageImg}}" (click)="openDialog(chat.messageImg)">
        </div>

      </div>

    </div>

  </mat-card>
</ng-container>

<mat-card *ngFor="let answer of answers$ | async">
  <div class="container-field">
    <div>

      <img src="{{answer.profilImg}}">

    </div>
    <div class="field-info">
      <div class="field-detail-user">
        <h3> {{answer.displayName}}
        </h3>
        <p>{{answer.chatDate | date : 'dd.MM.yyyy HH:mm' : 'de'}}</p>
      </div>
      <p [class.fett]="answer.weight" [class.kursive]="answer.italic"> {{answer.message}} </p>
      <div *ngIf="answer.messageImg !== ''">
        <img class="messageImg" src="{{answer.messageImg}}" (click)="openDialog(answer.messageImg)">
      </div>

    </div>

  </div>

</mat-card>
