<div class="profil-header">
    <div>Profil</div>
    <div>
        <mat-icon style="display:flex; justify-content: center; align-items: center;" inline="true">close</mat-icon>
    </div>
</div>

<div class="profil-container">
    <div class="profil-img-container">
            <img class="img avatar-img" src="/assets/img/avatar-placeholder.png" alt="">

    </div>

    <div class="profil-section" style="box-shadow: 0 0.1px 0 0 white">
        <div style="display: flex;"></div>
        <div class="profil-section-content">

            <div class="profil-name">
                <span class="profil-name-text">{{user.fullName ? user.fullName : user.displayName}} </span>
                <button (click)="openEditUser()" class="profil-name-edit link-button" type="Button">Bearbeiten</button>
            </div>

            <div class="profil-subtitle">{{user.title}}</div>

            <div class="break-word"></div>

            <div>
                <button class="button-unstyled">
                    <i></i>
                    <span (click)="openEditUser()">{{user.namePronunciation}}</span>
                </button>
            </div>

            <div class="active-container">
                <i><div [style.background-color]="activeColor" class="activeIcon"></div></i>
                <span class="padding-left-50">Aktiv</span>
            </div>


            <div class="margin-top-75">
                <span class="time">
                    <mat-icon style="font-size: 20px; margin-right: 5px;">access_time
                    </mat-icon>{{date | date:'HH:mm'}} Ortszeit
                </span>
            </div>



            <div class="edit-status-div">
                <button (click)="openAdjustStatus()" mat-raised-button="basic" class="edit-status-div">Status einstellen</button>
                <button class="more-vert-div" mat-icon-button="basic">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>

        </div>
    </div>

    <div class="profil-section">
        <div class="contact-info-div">
            <div>Kontaktdaten</div>
            <div class="link-button">Edit</div>
        </div>

        <div class="e-mail-div">
            <button mat-raised-button="basic"><mat-icon>mail_outline</mat-icon></button>

            <div class="contact-info">
                <div class="info-div">E-Mail-Adresse</div>
                <div class="info-div"><a href style="color: rgba(var(--sk_highlight, 18, 100, 163), 1);">{{user.email}}</a></div>
            </div>

        </div>

        <div class="e-mail-div">
            <button mat-raised-button="basic"><mat-icon >call</mat-icon></button>

            <div class="contact-info">
                <div class="info-div">Phone</div>
                <div class="info-div"><a href style="color: rgba(var(--sk_highlight, 18, 100, 163), 1);">{{user.phone}}</a></div>
            </div>

        </div>
    </div>
</div>
